@font-face {
  font-family: "Maragsa Display";
  src: url("../assets/fonts/Maragsa/MaragsaDisplay.woff2") format("woff2"), url("../assets/fonts/Maragsa/MaragsaDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Medium.woff2") format("woff2"), url("../assets/fonts/DMSans/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Regular.woff2") format("woff2"), url("../assets/fonts/DMSans/DMSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-MediumItalic.woff2") format("woff2"), url("../assets/fonts/DMSans/DMSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Italic.woff2") format("woff2"), url("../assets/fonts/DMSans/DMSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-Bold.woff2") format("woff2"), url("../assets/fonts/DMSans/DMSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans/DMSans-BoldItalic.woff2") format("woff2"), url("../assets/fonts/DMSans/DMSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
