@import "_fonts.scss";

@import "locomotive-scroll.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1280px;

/* purgecss start ignore */
html {
  font-size: 10px;
  * {
    @apply outline-none;
  }
  //overflow: hidden;
}

@media (min-width: 1940px) {
  html {
    font-size: 0.515463vw;
  }
  .container {
    max-width: 122rem;
  }
}

* {
  &::selection {
    @apply bg-primary;
    @apply text-black;
  }
}

body {
  font-size: 10px;

  @apply bg-background;

  &.light {
    @apply bg-primary;

    .ddo-backtext {
      @apply text-primary;
    }
  }
}

main {
  position: relative;

  margin: 0;

  min-height: 100vh;
}

.daconceicao-hw .letter {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#daconceicao-hw-home .letter {
  @apply stroke-primary;
}
#daconceicao-hw-about .letter {
  @apply stroke-brown;
}

#cursor-pointer {
  mix-blend-mode: difference;
}

#scroll-down-link {
  transition: transform 1s ease-in;
  &:hover {
    transform: scale(1.3);
  }
}

#ddo-model-canvas {
  height: calc(100vh) !important;
  width: 100% !important;
  position: fixed;
  display: block;
  top: 0;
  left: 0;

  overflow: hidden;
  outline: none;
}

.discover-wrapper img.project-img {
  will-change: transform;
  filter: drop-shadow(0px 0px 40px #000);
}

//Aboutme mobile
.aboutme-img-mobile {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 10rem;
    background: rgb(255, 207, 116);
    background: linear-gradient(180deg, rgba(255, 207, 116, 0) 0%, rgba(255, 207, 116, 1) 100%);

    @media (min-width: 640px) {
      display: none;
    }
  }
}

@media (min-width: 640px) {
  .intro-arrow-down-about:hover path {
    fill: #fff;
  }
}

#aboutme-img {
  filter: grayscale(1);
  transition: filter 0.2s ease-in-out;
  mix-blend-mode: color;
}

//Mail clipboard
.mailcp-message {
  @apply font-sans;
  top: -30px;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -100%);
  position: absolute;
  white-space: nowrap;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 4px;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
}
.mailcp-link:hover .mailcp-message,
.mailcp-link:focus .mailcp-message,
.mailcp-link:focus-within .mailcp-message {
  visibility: visible;
  opacity: 1;
}

//LOADING PAGE
.loader {
  position: relative;
  width: 300px;
}

.loader__percentage,
.app-loaded-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader__path {
  stroke-dasharray: 629;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.1s;
}

header,
.intro,
.experiences,
.contact,
.daconceicao-hw .letter,
.aboutme,
.studies,
#aboutme-wrapper,
#home-wrapper {
  will-change: transform, opacity !important;
}

#aboutme-img {
  will-change: transform !important;
}

// Animations
.intro-arrow-down {
  opacity: 0;

  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-name: fadeInUp;
}
.desktop-tip {
  opacity: 0;

  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-name: fadeInUp;
}
#nav-about {
  opacity: 0;

  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-name: fadeIn;
}

.items-banner {
  width: calc(100% + 5%);
  transform: rotate(-3deg);

  &:hover {
    .wrapper {
      animation-play-state: paused;
    }
  }

  .wrapper {
    animation: toLeft 15s linear infinite;
    span {
      margin: 0 60px;

      a {
        &:hover {
          color: #fff;
          transition: color 0.2s ease-in;
        }
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
