<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta charset="UTF-8" />

    <!-- Primary Meta Tags -->
    <title>Dylan Da Conceição • Full Stack Developer</title>
    <meta name="title" content="Dylan Da Conceição • Full Stack Developer" />
    <meta name="description" content="Hi ! I’m a Full Stack developer and this is my website ! I graduated with an MS in Computer Science looking for my next challenge to extend my experience in web and software development." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dylan-d.co/" />
    <meta property="og:title" content="Dylan Da Conceição • Full Stack Developer" />
    <meta property="og:description" content="Hi ! I’m a Full Stack developer and this is my website ! I graduated with an MS in Computer Science looking for my next challenge to extend my experience in web and software development." />
    <meta property="og:image" content="https://dylan-d.co<%=require('./assets/img/meta.png')%>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://dylan-d.co/" />
    <meta property="twitter:title" content="Dylan Da Conceição • Full Stack Developer" />
    <meta property="twitter:description" content="Hi ! I’m a Full Stack developer and this is my website ! I graduated with an MS in Computer Science looking for my next challenge to extend my experience in web and software development." />
    <meta property="twitter:image" content="https://dylan-d.co<%=require('./assets/img/meta.png')%>" />
  </head>

  <body id="body" class="home font-sans overflow-hidden">
    <div class="app-loader fixed bg-dark w-full h-full flex flex-col justify-center items-center z-50 pointer-events-none">
      <div class="app-loaded-logo flex items-center justify-center w-full">
        <svg class="ldr-dd-logo" style="opacity: 0" xmlns="http://www.w3.org/2000/svg" width="110" height="50" viewBox="0 0 70 40">
          <g data-name="dd" fill="#fff">
            <path data-name="d1t" d="M.014 14.014L0 39.237h20.545V28.026h-9.338l.017-14.013z" />
            <path data-name="d1b" d="M.003 0v11.211h20.543V0z" />
            <path data-name="d2" d="M22.623-.001v11.21h28.032l-.009 16.815H33.83l.017-14.012h-11.21l-.014 25.224h39.235V6.099l-6.092-6.1z" />
          </g>
        </svg>
        <div class="ldr-dd-logo-text" style="opacity: 0">
          <div class="flex flex-col text-white font-sans leading-tight -ml-2 origin-left">
            <span class="text-md font-bold">DYLAN</span>
            <span class="text-md font-bold">DA CONCEIÇÃO</span>
          </div>
        </div>
      </div>

      <div class="app-loader-progress relative">
        <div class="loader__percentage font-sans text-white text-lg">0%</div>
        <svg class="transform scale-75" height="300" width="300">
          <circle class="loader__path stroke-primary" cx="150" cy="150" r="100" stroke-width="1" fill="none" transform="rotate(-90)" style="stroke-dashoffset: 0" transform-origin="50% 50%"></circle>
        </svg>
      </div>

      <div class="desktop-tip absolute flex flex-col mb-8 items-center bottom-0 sm:hidden" style="opacity: 0">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
          <path d="M0 0v19.792h25V0zm22.917 17.708H2.083V2.083h20.834zm-6.874 4.167L18.75 25H6.25l2.707-3.125z" fill="#fff" />
        </svg>
        <p class="font-bold text-white font-sans uppercase mt-4 text-center">Better experience<br />on desktop</p>
      </div>
    </div>

    <div class="app-main overflow-hidden" style="display: none">
      <header role="banner" class="z-20 fixed top-0 left-0 right-0 w-full flex h-64 pointer-events-none" style="opacity: 0">
        <div class="container flex justify-between items-center px-12">
          <a href="#" class="home-scene-button -ml-2 flex items-center text-white pointer-events-auto p-action-click">
            <svg class="mr-2 transform scale-75" xmlns="http://www.w3.org/2000/svg" width="61.86" height="39.236" viewBox="0 0 61.86 39.236">
              <g data-name="dd" fill="#fff">
                <path data-name="d1t" d="M.014 14.014L0 39.237h20.545V28.026h-9.338l.017-14.013z" />
                <path data-name="d1b" d="M.003 0v11.211h20.543V0z" />
                <path data-name="d2" d="M22.623-.001v11.21h28.032l-.009 16.815H33.83l.017-14.012h-11.21l-.014 25.224h39.235V6.099l-6.092-6.1z" />
              </g>
            </svg>
            <div class="flex flex-col" aria-hidden="true">
              <span class="text-sm font-bold leading-none">DYLAN</span>
              <span class="text-sm font-bold leading-none">DA CONCEIÇÃO</span>
            </div>
          </a>
          <nav role="navigation">
            <ul class="flex">
              <li>
                <a id="nav-about" href="#" class="about-scene-button flex items-center group pointer-events-auto p-scene-click font-black rounded-full uppercase text-tiny md:text-sm bg-white py-4 px-10 transition duration-200 ease-in-out tracking-tight text-black" style="">
                  <span>More about me</span>
                </a>
              </li>
              <li>
                <a id="nav-home" href="#" class="home-scene-button flex items-center group pointer-events-auto pl-16 p-scene-click hover:opacity-50 transition duration-200 tracking-tight text-black" style="display: none">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18.375" height="18.163" viewBox="0 0 18.375 18.163">
                    <path d="M9.43 18.018l.812-.812a.492.492 0 000-.7l-6.363-6.359h14a.492.492 0 00.492-.492V8.507a.492.492 0 00-.492-.492h-14l6.363-6.359a.492.492 0 000-.7L9.43.144a.492.492 0 00-.7 0L.144 8.733a.492.492 0 000 .7l8.589 8.585a.492.492 0 00.697 0z" fill="#fff" />
                  </svg>
                  <span class="ml-4 text-base">back</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="fixed inset-0 flex flex-col justify-center items-center w-full h-screen pointer-events-none overflow-hidden" aria-hidden="true">
        <p class="leading-none text-xl sm:text-2xl md:text-3xl xl:text-4xl text-center text-black opacity-20 font-serif ddo-backtext pointer-events-none" style="opacity: 0">DYLAN</p>
        <p class="leading-none text-xl sm:text-2xl md:text-3xl xl:text-4xl text-center text-black opacity-20 font-serif ddo-backtext pointer-events-none" style="opacity: 0">DA CONCEICAO</p>
      </div>

      <main id="main" role="main" class="smooth-scroll overflow-hidden">
        <!-- Home intro -->
        <div id="home-wrapper" class="relative">
          <section class="homepage h-screen relative flex flex-col items-center justify-center z-10">
            <div class="intro container flex flex-col px-12" style="opacity: 0">
              <h1 class="text-xl sm:text-2xl md:text-3xl font-serif text-primary sm:w-8/12 md:w-4/12 leading-none">Full Stack Developer</h1>
              <p class="text-md text-white py-16 sm:w-8/12 md:w-4/12">Currently working as a development engineer since <i>2016</i> at <a href="https://atos.net/" target="_blank" title="Visit atos.net" class="p-action-click text-primary font-serif underline hover:no-underline">Atos</a> in France, looking for my next <strong>challenge</strong> in Rotterdam, Netherlands.</p>
            </div>

            <div class="intro-arrow-down hidden sm:block sm:absolute bottom-0 mb-32 hover:opacity-50 transition-opacity duration-200">
              <a id="scroll-down-link" href="#" class="p-action-click">
                <svg class="intro-arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="11.914" viewBox="0 0 20 11.914">
                  <path d="M9.468 11.689a.751.751 0 001.062 0l9.249-9.174a.751.751 0 000-1.062L18.542.216a.751.751 0 00-1.062 0L10 7.621 2.519.22a.751.751 0 00-1.062 0L.219 1.457a.751.751 0 000 1.062z" fill="#fff" />
                </svg>
                <svg class="intro-arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="11.914" viewBox="0 0 20 11.914">
                  <path d="M9.468 11.689a.751.751 0 001.062 0l9.249-9.174a.751.751 0 000-1.062L18.542.216a.751.751 0 00-1.062 0L10 7.621 2.519.22a.751.751 0 00-1.062 0L.219 1.457a.751.751 0 000 1.062z" fill="#fff" />
                </svg>
              </a>
            </div>
          </section>

          <!-- Experiences -->
          <section class="experiences relative pt-64">
            <div class="container flex flex-col px-12">
              <h2 class="text-2lg md:text-2xl font-serif text-primary w-12/12 sm:w-8/12 leading-none">Four years at Atos</h2>
              <p class="text-md text-white w-10/12 sm:w-8/12 md:w-6/12 py-3 sm:py-8 lg:py-12">From precise user interface integration to large and complex software architecture development, I went through three main missions during my Atos journey.</p>
            </div>
            <div class="container flex flex-col px-12 py-3 sm:py-10 xl:py-20">
              <div class="flex items-center justify-between py-3 sm:py-6 sm:w-8/12 md:w-6/12 border-b border-primary-light border-opacity-10">
                <div class="flex flex-col">
                  <h3 class="text-lg text-primary font-serif">2018 - current</h3>
                  <p class="text-base text-white">The Departmental Council of Moselle</p>
                </div>
                <a href="#" data-id="cd57" title="Learn more about this project" class="discover-action hover:scale-50 p-action-click ml-8">
                  <div class="h-20 w-20 flex items-center justify-center rounded-full bg-black bg-opacity-30 text-primary hover:bg-opacity-60">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.84" height="14.84" viewBox="0 0 14.84 14.84">
                      <path d="M7.42.533l-.618.626a.383.383 0 000 .537l4.848 4.9L.977 6.595a.377.377 0 00-.374.384v.885a.377.377 0 00.377.377l10.668.002-4.845 4.904a.383.383 0 000 .538l.618.626a.372.372 0 00.53 0l6.545-6.621a.383.383 0 000-.537L7.949.53a.372.372 0 00-.53 0z" fill="#fed984"></path>
                    </svg>
                  </div>
                </a>
              </div>

              <div class="flex items-center justify-between py-3 sm:py-6 sm:w-8/12 md:w-6/12 border-b border-primary-light border-opacity-10">
                <div class="flex flex-col">
                  <h3 class="text-lg text-primary font-serif">2017 - 2018</h3>
                  <p class="text-base text-white">Health digital service in Ile-de-France</p>
                </div>
                <a href="#" data-id="sesan" title="Learn more about this project" class="discover-action hover:scale-50 p-action-click ml-8">
                  <div class="h-20 w-20 flex items-center justify-center rounded-full bg-black bg-opacity-30 text-primary hover:bg-opacity-60">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.84" height="14.84" viewBox="0 0 14.84 14.84">
                      <path d="M7.42.533l-.618.626a.383.383 0 000 .537l4.848 4.9L.977 6.595a.377.377 0 00-.374.384v.885a.377.377 0 00.377.377l10.668.002-4.845 4.904a.383.383 0 000 .538l.618.626a.372.372 0 00.53 0l6.545-6.621a.383.383 0 000-.537L7.949.53a.372.372 0 00-.53 0z" fill="#fed984"></path>
                    </svg>
                  </div>
                </a>
              </div>

              <div class="flex items-center justify-between py-3 sm:py-6 sm:w-8/12 md:w-6/12">
                <div class="flex flex-col">
                  <h3 class="text-lg text-primary font-serif">2016 - 2017</h3>
                  <p class="text-base text-white">The General Council of Calvados</p>
                </div>
                <a href="#" data-id="cg14" title="Learn more about this project" class="discover-action hover:scale-50 p-action-click ml-8">
                  <div class="h-20 w-20 flex items-center justify-center rounded-full bg-black bg-opacity-30 text-primary hover:bg-opacity-60">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.84" height="14.84" viewBox="0 0 14.84 14.84">
                      <path d="M7.42.533l-.618.626a.383.383 0 000 .537l4.848 4.9L.977 6.595a.377.377 0 00-.374.384v.885a.377.377 0 00.377.377l10.668.002-4.845 4.904a.383.383 0 000 .538l.618.626a.372.372 0 00.53 0l6.545-6.621a.383.383 0 000-.537L7.949.53a.372.372 0 00-.53 0z" fill="#fed984"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </section>

          <!-- Contact -->
          <section class="contact contact-home relative py-48 sm:py-64 mb-64 sm:mb-0">
            <div class="container flex flex-col px-12 pt-24">
              <h2 class="text-xl md:text-2xl font-serif text-primary w-10/12 md:w-8/12 lg:w-6/12 leading-none">Get to know me</h2>
              <p class="text-md text-white w-10/12 sm:w-8/12 md:w-8/12 py-8 lg:py-12">Let's chat and maybe start <strong>my Dutch adventure</strong> together!</p>
            </div>
            <div class="container relative flex flex-col sm:flex-row px-12 pt-10 xl:pt-20">
              <div class="flex flex-col w-full sm:w-8/12 lg:w-6/12">
                <div class="flex flex-col py-3 w-full sm:w-10/12 md:w-8/12 lg:w-8/12">
                  <a href="#" class="mailcp-link contact-action flex items-center group p-action-click">
                    <div class="h-20 w-20 flex items-center justify-center rounded-full bg-black bg-opacity-30 text-primary group-hover:bg-opacity-60">
                      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12.75" viewBox="0 0 17 12.75">
                        <path data-name="envelope" d="M15.406-12.75H1.594A1.594 1.594 0 000-11.156v9.563A1.594 1.594 0 001.594 0h13.812A1.594 1.594 0 0017-1.594v-9.562a1.594 1.594 0 00-1.594-1.594zm0 1.594V-9.8c-.744.606-1.931 1.549-4.469 3.536-.559.44-1.667 1.5-2.438 1.484-.771.012-1.879-1.045-2.438-1.484A411.919 411.919 0 011.594-9.8v-1.355zM1.594-1.594v-6.162c.761.606 1.84 1.456 3.484 2.744.726.571 2 1.832 3.422 1.825 1.418.008 2.673-1.235 3.422-1.824a633.722 633.722 0 003.484-2.745v6.163z" transform="translate(0 12.75)" fill="#fed984" />
                      </svg>
                    </div>
                    <div class="mail-holder relative">
                      <p class="ml-8 font-medium text-base text-white">dylan.daconceicao@gmail.com</p>
                    </div>
                  </a>
                </div>

                <div class="flex flex-col py-3 w-full sm:w-10/12 md:w-8/12 lg:w-8/12">
                  <a href="https://www.linkedin.com/in/dylan-dco" target="_blank" class="contact-action flex items-center group p-action-click">
                    <div class="h-20 w-20 flex items-center justify-center rounded-full bg-black bg-opacity-30 text-primary group-hover:bg-opacity-60">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14.875" height="14.875" viewBox="0 0 14.875 14.875">
                        <path data-name="linkedin" d="M3.33 0v-9.931H.246V0zM1.786-11.286a1.8 1.8 0 001.786-1.8 1.787 1.787 0 00-1.786-1.786A1.787 1.787 0 000-13.089a1.8 1.8 0 001.786 1.803zM14.872 0v-5.455c0-2.67-.574-4.725-3.695-4.725a3.24 3.24 0 00-2.918 1.6h-.04v-1.351H5.261V0h3.081v-4.917c0-1.295.246-2.547 1.849-2.547 1.58 0 1.6 1.478 1.6 2.63V0z" transform="translate(0 14.875)" fill="#fed984" />
                      </svg>
                    </div>
                    <p class="ml-8 font-medium text-base text-white">linkedin.com/in/dylan-dco</p>
                  </a>
                </div>

                <div class="w-8/12 pt-16 sm:pt-24">
                  <svg id="daconceicao-hw-home" class="daconceicao-hw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371.21 71.17">
                    <g>
                      <path class="letter-d letter" d="M523.34,352.23c1.4,4.49-.1,9.32-1.63,13.77-6.08,17.72-12.38,35.26-19.53,52.58,9.55-19.67,19.08-38.49,31.55-56.78a40.78,40.78,0,0,1,10.77-10.23c3.58-2.09,6.36-1.12,9.68,1.13,2.55,1.73,3.23,4,3.58,6.59a21.87,21.87,0,0,1-.57,7.72c-2.56,11.73-10,21.85-18.67,30.11s-20.33,12-32.33,12.47a11,11,0,0,1-4.6-.85c-1.39-.61-2.75-1.25-2.69-2.77" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-a letter" d="M569.87,389.54c-1-2.42-2.24-4.59-4.86-4.75a7.93,7.93,0,0,0-6.9,3.74c-.69,1.19-1.7,3.75,0,4a6.89,6.89,0,0,0,2.89-.21,37.61,37.61,0,0,0,14.84-10,17.87,17.87,0,0,0-2.66,4.72c-.49,1.44-1.63,3.8.53,5,1,.56,3,.48,4.54.37,4.42-.3,8-2.56,11.46-5.37" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-c letter" d="M648.66,377.16a41.81,41.81,0,0,0,8.81-16.64c.67-2.52,1-5.58-.91-7.4a5.13,5.13,0,0,0-4.61-1,14.24,14.24,0,0,0-4.72,1.75,80.16,80.16,0,0,0-31.94,34.81,25,25,0,0,0-2.79,10.9c.08,3.76,1.78,7.78,5.27,9.21a15.66,15.66,0,0,0,9.74.45,76,76,0,0,0,36.91-20.37" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-o letter" d="M671.62,383a9.05,9.05,0,0,0-8,9.38c0,.82.05,1.58.75,2a3.16,3.16,0,0,0,3.06-.32,22.66,22.66,0,0,0,3.85-3.28,6.31,6.31,0,0,0,1.68-2.39c.31-.92.43-2-.37-2.49a2.55,2.55,0,0,0-3.49,1.41,3.27,3.27,0,0,0,1.5,3.55,7.93,7.93,0,0,0,4.05,1.27,22,22,0,0,0,15.75-4.89" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-n letter" d="M692.7,383c-1.2,2.51-3.11,5.8-4.32,8.31a4.05,4.05,0,0,0-.51,1.67,1.33,1.33,0,0,0,1,1.32,1.91,1.91,0,0,0,1.26-.38L703,386.48a3.29,3.29,0,0,1,1.06-.45c.38-.06,1.4-.3,1.62,0s-.43,1.3-.49,1.79a4.59,4.59,0,0,0,1.93,4.14,6.74,6.74,0,0,0,4.55,1.16,12.89,12.89,0,0,0,4.55-1.41,23.18,23.18,0,0,0,6.27-4.57" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-c2 letter" d="M733.28,383.08a11.28,11.28,0,0,0-11.92,5.5,6.34,6.34,0,0,0-.89,2.61,3.36,3.36,0,0,0,.83,2.57,5.06,5.06,0,0,0,3.55,1.15,33.32,33.32,0,0,0,22.37-7.64" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-e letter" d="M746.93,391.48a19.67,19.67,0,0,0,3.47-3.82,10,10,0,0,0,1.72-4.81,6.4,6.4,0,0,0-4.77,9.39,3.74,3.74,0,0,0,1.62,1.67,4.73,4.73,0,0,0,2,.35,27.09,27.09,0,0,0,18.83-7.17" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <g class="letter-i">
                        <path class="letter-i-b letter" d="M771.19,385.22a10.82,10.82,0,0,0-3.66,6,3.69,3.69,0,0,0,.53,3.25c.87.93,2.34.91,3.61.73a29.47,29.47,0,0,0,16.37-8" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                        <path class="letter-i-p letter" d="M776,374.41a4.18,4.18,0,0,0-1.16.62,1.94,1.94,0,0,0-.68,1.09,1.2,1.2,0,0,0,.45,1.17.89.89,0,0,0,1.18-.15.71.71,0,0,0-.31-1.07" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      </g>
                      <path class="letter-c3 letter" d="M799.14,382.88a11.3,11.3,0,0,0-11.92,5.5,6.34,6.34,0,0,0-.89,2.61c-.07.92-.27,2.38.37,3.05.89.92,2.73.95,4,1a33.61,33.61,0,0,0,22.38-8" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-a2 letter" d="M823.1,389.36c-1-2.41-2.12-4.47-6.12-4.47-2.62,0-4.31,1.84-6.07,4.07-.85,1.08-1.16,2.73,0,3.47.76.48,1.63,0,2.49-.26A32,32,0,0,0,828,383.08a12.57,12.57,0,0,0-2.46,3.81,4.25,4.25,0,0,0,.7,4.28c1.09,1.11,2.83,1.24,4.38,1.13a21.58,21.58,0,0,0,12.16-4.83" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-o2 letter" d="M848.67,383.08a9.18,9.18,0,0,0-5.85,3.12,8.89,8.89,0,0,0-2.49,6,2.58,2.58,0,0,0,.95,2.16c.87.54,2,.06,2.86-.48a24.57,24.57,0,0,0,4.08-3.18,8.75,8.75,0,0,0,1.69-2.15c.49-.89.88-1.6.07-2.26-1.11-.9-2.06-1-3.94.81-1,1,.12,2.74,1.27,3.59a7.93,7.93,0,0,0,4.05,1.27c5.61.49,11.61-.86,15.74-4.89" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    </g>
                  </svg>
                </div>
              </div>
              <div class="journey relative mx-auto w-8/12 sm:w-4/12 mt-24 sm:mt-0">
                <div class="metz-img-wrapper absolute right-0 flex flex-col" style="z-index: 15">
                  <img src="<%=require('./assets/img/metz.jpg')%>" alt="Metz city photography" class="rounded-lg" />
                  <span class="text-white text-sm mt-3 ml-1">Metz, France</span>
                </div>
                <div class="rotterdam-img-wrapper absolute right-0 flex flex-col transform translate-x-20 -translate-y-20" style="opacity: 0.05; z-index: 10">
                  <img src="<%=require('./assets/img/rotterdam.jpg')%>" alt="Rotterdam city photography" class="rounded-lg" />
                  <span class="text-white text-sm mt-3 ml-1">Rotterdam, Netherlands</span>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- More about me -->
        <div id="aboutme-wrapper" class="relative" aria-hidden="true" style="display: none; opacity: 0">
          <!-- About me intro -->
          <section class="aboutme h-auto pb-16 md:pb-0 md:h-screen relative flex flex-col justify-center items-center" style="opacity: 0">
            <div class="aboutme-img-mobile pt-48">
              <img src="<%=require('./assets/img/me.jpg')%>" alt="Dylan Da Conceição portrait" class="sm:hidden w-full z-10" />
            </div>

            <div class="intro-aboutme -mt-16 md:mt-0 container flex flex-col sm:items-end px-12 sm:text-right">
              <h1 class="intro-item text-xl sm:text-2xl md:text-3xl font-serif text-brown sm:w-8/12 md:w-8/12 leading-none z-15">Dag, ik ben Dylan.</h1>
              <p class="intro-item text-md text-brown py-16 sm:w-8/12 md:w-6/12 z-15">26 years old considering myself as an <strong>open-minded</strong> nerd looking for people to <strong>meet</strong> and places to <strong>explore</strong>. Genuinely interested in Computer Science with 9 years of studying and professional experiences, I always stand <strong>ready</strong> for new <strong>challenges</strong>.</p>
            </div>

            <div class="intro-arrow-down-about hidden sm:block sm:absolute bottom-0 mb-32 z-15">
              <a id="scroll-down-link-aboutme" href="#" class="p-action-click">
                <svg class="intro-arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="11.914" viewBox="0 0 20 11.914">
                  <path class="transition-fill duration-200" d="M9.468 11.689a.751.751 0 001.062 0l9.249-9.174a.751.751 0 000-1.062L18.542.216a.751.751 0 00-1.062 0L10 7.621 2.519.22a.751.751 0 00-1.062 0L.219 1.457a.751.751 0 000 1.062z" fill="#381E1E" />
                </svg>
                <svg class="intro-arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="11.914" viewBox="0 0 20 11.914">
                  <path class="transition-fill duration-200" d="M9.468 11.689a.751.751 0 001.062 0l9.249-9.174a.751.751 0 000-1.062L18.542.216a.751.751 0 00-1.062 0L10 7.621 2.519.22a.751.751 0 00-1.062 0L.219 1.457a.751.751 0 000 1.062z" fill="#381E1E" />
                </svg>
              </a>
            </div>

            <img id="aboutme-img" aria-hidden="true" src="<%=require('./assets/img/mee.jpg')%>" alt="Dylan Da Conceição portrait" aria-hidden="true" class="hidden rounded-full sm:absolute invisible opacity-0 w-3/12 top-0 left-0 pointer-events-none z-10" style="display: none" />
          </section>
          <!-- Studies -->
          <section class="studies relative py-48 sm:py-64">
            <div class="container flex flex-col sm:items-end px-12">
              <h2 class="sm:text-right text-2lg md:text-2xl font-serif text-brown sm:w-10/12 md:w-8/12 lg:w-6/12 leading-none">Five years of study in IT Science</h2>
              <p class="sm:text-right text-md text-brown sm:w-8/12 md:w-6/12 py-3 sm:py-8 lg:py-12">Through half a decade of studying, I acquired algorithm, system, network and database interesting knowledge associated with a variety of languages skills like Java, Javascript, Python and C#.</p>
            </div>
            <div class="container flex flex-col sm:items-end px-12 sm:pt-10 xl:pt-40">
              <div class="flex flex-col sm:justify-between sm:flex-row-reverse py-3 sm:py-6 sm:w-10/12 md:w-8/12 lg:w-6/12 border-b border-brown border-opacity-10">
                <h3 class="text-lg text-brown font-serif">2015-2017</h3>
                <div class="flex flex-col">
                  <p class="text-base xl:text-md text-brown">Master of Science in Computer Science</p>
                  <p class="text-base text-brown">UFR MIM, <a class="hover:text-black hover:no-underline underline p-action-click transition duration-200" target="_blank" href="https://www.univ-lorraine.fr/">University of Lorraine</a>, Metz, FRANCE</p>
                </div>
              </div>
              <div class="flex flex-col sm:justify-between sm:flex-row-reverse py-3 sm:py-6 sm:w-10/12 md:w-8/12 lg:w-6/12 border-b border-brown border-opacity-10">
                <h3 class="text-lg text-brown font-serif">2014-2015</h3>
                <div class="flex flex-col">
                  <p class="text-base xl:text-md text-brown">Bachelor of Science in Computer Science</p>
                  <p class="text-base text-brown">UFR MIM, <a class="hover:text-black hover:no-underline underline p-action-click transition duration-200" target="_blank" href="https://www.univ-lorraine.fr/">University of Lorraine</a>, Metz, FRANCE</p>
                </div>
              </div>
              <div class="flex flex-col sm:justify-between sm:flex-row-reverse py-3 sm:py-6 sm:w-10/12 md:w-8/12 lg:w-6/12 border-b border-brown border-opacity-10">
                <h3 class="text-lg text-brown font-serif">2012-2014</h3>
                <div class="flex flex-col">
                  <p class="text-base xl:text-md text-brown">University diploma in Computer Science</p>
                  <p class="text-base text-brown">IUT, <a class="hover:text-black hover:no-underline underline p-action-click transition duration-200" target="_blank" href="https://www.univ-lorraine.fr/">University of Lorraine</a>, Metz, FRANCE</p>
                </div>
              </div>
            </div>
          </section>

          <!-- Contact -->
          <section class="contact contact-about relative py-48 sm:py-64 mb-64 sm:mb-0">
            <div class="container flex flex-col sm:items-end px-12 pt-24">
              <h2 class="sm:text-right text-xl md:text-2xl font-serif text-brown sm:w-10/12 md:w-8/12 lg:w-6/12 leading-none">Get to know me</h2>
              <p class="sm:text-right text-md text-brown sm:w-8/12 md:w-8/12 py-8 lg:py-12">Let's chat and maybe start <strong>my Dutch adventure</strong> together!</p>
            </div>
            <div class="container relative flex flex-col sm:flex-row-reverse px-12 pt-10 xl:pt-20">
              <div class="flex flex-col items-end w-full sm:w-8/12 lg:w-6/12">
                <div class="flex flex-col items-end py-3 w-full sm:w-10/12 md:w-8/12 lg:w-8/12">
                  <a href="#" class="mailcp-link contact-action flex items-center group p-action-click">
                    <div class="mail-holder relative">
                      <p class="mr-8 font-medium text-base text-brown">dylan.daconceicao@gmail.com</p>
                    </div>
                    <div class="h-20 w-20 flex items-center justify-center rounded-full bg-brown bg-opacity-80 text-brown group-hover:bg-opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12.75" viewBox="0 0 17 12.75">
                        <path data-name="envelope" d="M15.406-12.75H1.594A1.594 1.594 0 000-11.156v9.563A1.594 1.594 0 001.594 0h13.812A1.594 1.594 0 0017-1.594v-9.562a1.594 1.594 0 00-1.594-1.594zm0 1.594V-9.8c-.744.606-1.931 1.549-4.469 3.536-.559.44-1.667 1.5-2.438 1.484-.771.012-1.879-1.045-2.438-1.484A411.919 411.919 0 011.594-9.8v-1.355zM1.594-1.594v-6.162c.761.606 1.84 1.456 3.484 2.744.726.571 2 1.832 3.422 1.825 1.418.008 2.673-1.235 3.422-1.824a633.722 633.722 0 003.484-2.745v6.163z" transform="translate(0 12.75)" fill="#fed984" />
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="flex flex-col items-end py-3 w-full sm:w-10/12 md:w-8/12 lg:w-8/12">
                  <a href="https://www.linkedin.com/in/dylan-dco" target="_blank" class="contact-action flex items-center group p-action-click">
                    <p class="mr-8 font-medium text-base text-brown">linkedin.com/in/dylan-dco</p>
                    <div class="h-20 w-20 flex items-center justify-center rounded-full bg-brown bg-opacity-80 text-brown group-hover:bg-opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14.875" height="14.875" viewBox="0 0 14.875 14.875">
                        <path data-name="linkedin" d="M3.33 0v-9.931H.246V0zM1.786-11.286a1.8 1.8 0 001.786-1.8 1.787 1.787 0 00-1.786-1.786A1.787 1.787 0 000-13.089a1.8 1.8 0 001.786 1.803zM14.872 0v-5.455c0-2.67-.574-4.725-3.695-4.725a3.24 3.24 0 00-2.918 1.6h-.04v-1.351H5.261V0h3.081v-4.917c0-1.295.246-2.547 1.849-2.547 1.58 0 1.6 1.478 1.6 2.63V0z" transform="translate(0 14.875)" fill="#fed984" />
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="w-8/12 pt-16 sm:pt-24">
                  <svg id="daconceicao-hw-about" class="daconceicao-hw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371.21 71.17">
                    <g>
                      <path class="letter-d letter" d="M523.34,352.23c1.4,4.49-.1,9.32-1.63,13.77-6.08,17.72-12.38,35.26-19.53,52.58,9.55-19.67,19.08-38.49,31.55-56.78a40.78,40.78,0,0,1,10.77-10.23c3.58-2.09,6.36-1.12,9.68,1.13,2.55,1.73,3.23,4,3.58,6.59a21.87,21.87,0,0,1-.57,7.72c-2.56,11.73-10,21.85-18.67,30.11s-20.33,12-32.33,12.47a11,11,0,0,1-4.6-.85c-1.39-.61-2.75-1.25-2.69-2.77" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-a letter" d="M569.87,389.54c-1-2.42-2.24-4.59-4.86-4.75a7.93,7.93,0,0,0-6.9,3.74c-.69,1.19-1.7,3.75,0,4a6.89,6.89,0,0,0,2.89-.21,37.61,37.61,0,0,0,14.84-10,17.87,17.87,0,0,0-2.66,4.72c-.49,1.44-1.63,3.8.53,5,1,.56,3,.48,4.54.37,4.42-.3,8-2.56,11.46-5.37" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-c letter" d="M648.66,377.16a41.81,41.81,0,0,0,8.81-16.64c.67-2.52,1-5.58-.91-7.4a5.13,5.13,0,0,0-4.61-1,14.24,14.24,0,0,0-4.72,1.75,80.16,80.16,0,0,0-31.94,34.81,25,25,0,0,0-2.79,10.9c.08,3.76,1.78,7.78,5.27,9.21a15.66,15.66,0,0,0,9.74.45,76,76,0,0,0,36.91-20.37" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-o letter" d="M671.62,383a9.05,9.05,0,0,0-8,9.38c0,.82.05,1.58.75,2a3.16,3.16,0,0,0,3.06-.32,22.66,22.66,0,0,0,3.85-3.28,6.31,6.31,0,0,0,1.68-2.39c.31-.92.43-2-.37-2.49a2.55,2.55,0,0,0-3.49,1.41,3.27,3.27,0,0,0,1.5,3.55,7.93,7.93,0,0,0,4.05,1.27,22,22,0,0,0,15.75-4.89" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-n letter" d="M692.7,383c-1.2,2.51-3.11,5.8-4.32,8.31a4.05,4.05,0,0,0-.51,1.67,1.33,1.33,0,0,0,1,1.32,1.91,1.91,0,0,0,1.26-.38L703,386.48a3.29,3.29,0,0,1,1.06-.45c.38-.06,1.4-.3,1.62,0s-.43,1.3-.49,1.79a4.59,4.59,0,0,0,1.93,4.14,6.74,6.74,0,0,0,4.55,1.16,12.89,12.89,0,0,0,4.55-1.41,23.18,23.18,0,0,0,6.27-4.57" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-c2 letter" d="M733.28,383.08a11.28,11.28,0,0,0-11.92,5.5,6.34,6.34,0,0,0-.89,2.61,3.36,3.36,0,0,0,.83,2.57,5.06,5.06,0,0,0,3.55,1.15,33.32,33.32,0,0,0,22.37-7.64" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-e letter" d="M746.93,391.48a19.67,19.67,0,0,0,3.47-3.82,10,10,0,0,0,1.72-4.81,6.4,6.4,0,0,0-4.77,9.39,3.74,3.74,0,0,0,1.62,1.67,4.73,4.73,0,0,0,2,.35,27.09,27.09,0,0,0,18.83-7.17" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <g class="letter-i">
                        <path class="letter-i-b letter" d="M771.19,385.22a10.82,10.82,0,0,0-3.66,6,3.69,3.69,0,0,0,.53,3.25c.87.93,2.34.91,3.61.73a29.47,29.47,0,0,0,16.37-8" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                        <path class="letter-i-p letter" d="M776,374.41a4.18,4.18,0,0,0-1.16.62,1.94,1.94,0,0,0-.68,1.09,1.2,1.2,0,0,0,.45,1.17.89.89,0,0,0,1.18-.15.71.71,0,0,0-.31-1.07" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      </g>
                      <path class="letter-c3 letter" d="M799.14,382.88a11.3,11.3,0,0,0-11.92,5.5,6.34,6.34,0,0,0-.89,2.61c-.07.92-.27,2.38.37,3.05.89.92,2.73.95,4,1a33.61,33.61,0,0,0,22.38-8" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-a2 letter" d="M823.1,389.36c-1-2.41-2.12-4.47-6.12-4.47-2.62,0-4.31,1.84-6.07,4.07-.85,1.08-1.16,2.73,0,3.47.76.48,1.63,0,2.49-.26A32,32,0,0,0,828,383.08a12.57,12.57,0,0,0-2.46,3.81,4.25,4.25,0,0,0,.7,4.28c1.09,1.11,2.83,1.24,4.38,1.13a21.58,21.58,0,0,0,12.16-4.83" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                      <path class="letter-o2 letter" d="M848.67,383.08a9.18,9.18,0,0,0-5.85,3.12,8.89,8.89,0,0,0-2.49,6,2.58,2.58,0,0,0,.95,2.16c.87.54,2,.06,2.86-.48a24.57,24.57,0,0,0,4.08-3.18,8.75,8.75,0,0,0,1.69-2.15c.49-.89.88-1.6.07-2.26-1.11-.9-2.06-1-3.94.81-1,1,.12,2.74,1.27,3.59a7.93,7.93,0,0,0,4.05,1.27c5.61.49,11.61-.86,15.74-4.89" transform="translate(-497.4 -348.92)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    </g>
                  </svg>
                </div>
              </div>

              <div class="journey relative mx-auto w-8/12 sm:w-4/12 mt-24 sm:mt-0">
                <div class="metz-img-wrapper absolute right-0 flex flex-col" style="z-index: 15">
                  <img src="<%=require('./assets/img/metz.jpg')%>" alt="Metz city photography" class="rounded-lg" />
                  <span class="text-right text-brown text-sm mt-3 ml-1">Metz, France</span>
                </div>
                <div class="rotterdam-img-wrapper absolute right-0 flex flex-col transform -translate-x-20 -translate-y-20" style="opacity: 0.05; z-index: 10">
                  <img src="<%=require('./assets/img/rotterdam.jpg')%>" alt="Rotterdam city photography" class="rounded-lg" />
                  <span class="text-right text-brown text-sm mt-3 ml-1">Rotterdam, Netherlands</span>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>

      <div data-id="cg14" aria-hidden="true" class="discover-wrapper absolute w-full min-h-full left-0 top-0 pb-12 z-15" style="visibility: hidden; opacity: 0">
        <div class="relative overflow-hidden">
          <div class="container flex flex-col items-center justify-items-center px-12 pt-48 pb-12">
            <a href="#" class="flex items-center discover-close-action p-action-click p-6 z-15 opacity-80 hover:opacity-100 duration-200 transition-opacity">
              <svg xmlns="http://www.w3.org/2000/svg" width="18.375" height="18.163" viewBox="0 0 18.375 18.163">
                <path d="M9.43 18.018l.812-.812a.492.492 0 000-.7l-6.363-6.359h14a.492.492 0 00.492-.492V8.507a.492.492 0 00-.492-.492h-14l6.363-6.359a.492.492 0 000-.7L9.43.144a.492.492 0 00-.7 0L.144 8.733a.492.492 0 000 .7l8.589 8.585a.492.492 0 00.697 0z" fill="#fff" />
              </svg>
              <span class="ml-8 text-white text-base">back to projects</span>
            </a>
            <h2 class="text-center text-lg sm:text-xl md:text-2xl font-serif text-white pt-6 w-11/12 md:w-full leading-none z-15">The General Council of Calvados</h2>
            <p class="text-center text-md md:text-lg font-serif text-primary py-2 w-11/12 md:w-full leading-none z-15">2016 - 2017</p>
            <p class="sm:text-center text-base sm:text-md md:text-md text-white w-11/12 md:w-9/12 py-12 z-15">Development of the official editorial portal of the general council of the French department Calvados with <a href="https://www.jahia.com/home/en" target="_blank" title="Discover Jahia" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Jahia</a> (Java CMS).</p>
            <div class="container flex flex-col sm:flex-row justify-center items-center mb-12 w-11/12 md:w-10/12 z-15">
              <div class="sm:w-11/12 sm:text-center">
                <ul class="text-white sm:text-center text-base mt-12 mb-12 list-disc pl-8 sm:list-none sm:pl-0">
                  <li class="sm:inline-block">Getting started with Jahia</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Design integration from HTML designs</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Making reusable components bundled using <a href="https://maven.apache.org/" target="_blank" title="Discover Maven" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Maven</a> packages</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Development of a multi API social feed wall</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Issues management using <a href="https://www.jetbrains.com/youtrack/" target="_blank" title="Discover YouTrack" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">YouTrack</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Writing functional, technical and test cases documentations</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Continuous integration using <a href="https://www.jetbrains.com/teamcity/" target="_blank" title="Discover TeamCity" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">TeamCity</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Code versioning using <a href="https://subversion.apache.org/" target="_blank" title="Discover SVN" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">SVN</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Installation and maintenance of <a href="https://www.centos.org/" target="_blank" title="Discover CentOS" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">CentOS</a> environments</li>
                </ul>
              </div>
            </div>

            <div class="flex flex-col items-center w-3/6 mb-8 sm:mb-0 sm:w-2/6 lg:w-2/6 xl:w-1/6 z-15">
              <img src="<%=require('./assets/img/calvados.png')%>" alt="Calvados French department logo" />
              <a href="https://www.calvados.fr" target="_blank" class="pointer-events-auto mt-8 p-action-click font-black text-center rounded-full uppercase text-tiny md:text-sm bg-black bg-opacity-30 hover:bg-opacity-60 py-4 px-10 transition duration-200 ease-in-out tracking-tight text-white">Visit client website</a>
            </div>

            <div class="items-banner absolute w-full top-1/4 sm:top-auto sm:bottom-2xl flex font-serif text-lg md:text-xl text-background bg-dark z-10 whitespace-no-wrap py-8 overflow-hidden">
              <div class="wrapper inline-flex flex-shrink-0 items-center justify-between">
                <span><a href="https://www.java.com/fr/" target="_blank" class="techlink p-action-click">Java</a></span>
                <span><a href="https://www.jahia.com/" target="_blank" class="techlink p-action-click">Jahia</a></span>
                <span><a href="https://spring.io/" target="_blank" class="techlink p-action-click">Spring</a></span>
                <span><a href="https://jackrabbit.apache.org/jcr/index.html" target="_blank" class="techlink p-action-click">JackRabbit</a></span>
                <span><a href="https://lucene.apache.org/" target="_blank" class="techlink p-action-click">Lucene</a></span>
                <span><a href="https://maven.apache.org/" target="_blank" class="techlink p-action-click">Maven</a></span>
                <span><a href="https://httpd.apache.org/" target="_blank" class="techlink p-action-click">HTTPD</a></span>
                <span><a href="https://jquery.com/" target="_blank" class="techlink p-action-click">jQuery</a></span>
                <span><a href="https://getbootstrap.com/" target="_blank" class="techlink p-action-click">Bootstrap</a></span>
                <span><a href="https://www.eclipse.org/" target="_blank" class="techlink p-action-click">Eclipse</a></span>
                <span><a href="https://subversion.apache.org/" target="_blank" class="techlink p-action-click">SVN</a></span>
              </div>
              <div class="wrapper inline-flex flex-shrink-0 items-center justify-between" aria-hidden="true">
                <span><a href="https://www.java.com/fr/" target="_blank" class="techlink p-action-click">Java</a></span>
                <span><a href="https://www.jahia.com/" target="_blank" class="techlink p-action-click">Jahia</a></span>
                <span><a href="https://spring.io/" target="_blank" class="techlink p-action-click">Spring</a></span>
                <span><a href="https://jackrabbit.apache.org/jcr/index.html" target="_blank" class="techlink p-action-click">JackRabbit</a></span>
                <span><a href="https://lucene.apache.org/" target="_blank" class="techlink p-action-click">Lucene</a></span>
                <span><a href="https://maven.apache.org/" target="_blank" class="techlink p-action-click">Maven</a></span>
                <span><a href="https://httpd.apache.org/" target="_blank" class="techlink p-action-click">HTTPD</a></span>
                <span><a href="https://jquery.com/" target="_blank" class="techlink p-action-click">jQuery</a></span>
                <span><a href="https://getbootstrap.com/" target="_blank" class="techlink p-action-click">Bootstrap</a></span>
                <span><a href="https://www.eclipse.org/" target="_blank" class="techlink p-action-click">Eclipse</a></span>
                <span><a href="https://subversion.apache.org/" target="_blank" class="techlink p-action-click">SVN</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-id="sesan" aria-hidden="true" class="discover-wrapper absolute w-full min-h-full left-0 top-0 pb-12 z-15" style="visibility: hidden; opacity: 0">
        <div class="relative overflow-hidden">
          <div class="container flex flex-col items-center justify-items-center px-12 pt-48 pb-12">
            <a href="#" class="flex items-center discover-close-action p-action-click p-6 z-15 opacity-80 hover:opacity-100 duration-200 transition-opacity">
              <svg xmlns="http://www.w3.org/2000/svg" width="18.375" height="18.163" viewBox="0 0 18.375 18.163">
                <path d="M9.43 18.018l.812-.812a.492.492 0 000-.7l-6.363-6.359h14a.492.492 0 00.492-.492V8.507a.492.492 0 00-.492-.492h-14l6.363-6.359a.492.492 0 000-.7L9.43.144a.492.492 0 00-.7 0L.144 8.733a.492.492 0 000 .7l8.589 8.585a.492.492 0 00.697 0z" fill="#fff" />
              </svg>
              <span class="ml-8 text-white text-base">back to projects</span>
            </a>
            <h2 class="text-center text-lg sm:text-xl md:text-2xl font-serif text-white pt-6 w-11/12 md:w-full leading-none z-15">Health digital service in Ile-de-France</h2>
            <p class="text-center text-md md:text-lg font-serif text-primary py-2 w-11/12 md:w-full leading-none z-15">2017 - 2018</p>
            <p class="sm:text-center text-base sm:text-md md:text-md text-white w-11/12 md:w-9/12 py-12 z-15">Maintenance and evolutions on a healthcare search engine with <a href="https://www.jahia.com/home/en" target="_blank" title="Discover Jahia" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Jahia</a> (Java CMS).</p>
            <div class="container flex flex-col sm:flex-row justify-center items-center mb-12 w-11/12 md:w-10/12 z-15">
              <div class="sm:w-11/12 sm:text-center">
                <ul class="text-white sm:text-center text-base mt-12 mb-12 list-disc pl-8 sm:list-none sm:pl-0">
                  <li class="sm:inline-block">Obtaining official Jahia Advanced Developer Certification</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Front development with <a href="https://angularjs.org/" target="_blank" title="Discover AngularJS" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">AngularJS</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Interfacing a <a href="https://tools.ietf.org/html/rfc3288" target="_blank" title="Discover SOAP" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">SOAP</a> web service</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block"><a href="https://leafletjs.com/" target="_blank" title="Discover Leaflet" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Leaflet</a> map integration with a <a href="https://tools.ietf.org/html/rfc7946" target="_blank" title="Discover GeoJSON" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">GeoJSON</a> web service</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Issues management using <a href="https://www.mantisbt.org/" target="_blank" title="Discover Mantis" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Mantis</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Writing functional, technical and test cases documentations</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Code versioning using <a href="https://subversion.apache.org/" target="_blank" title="Discover SVN" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">SVN</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Installation and maintenance of <a href="https://www.centos.org/" target="_blank" title="Discover CentOS" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">CentOS</a> environments</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Certificates and security knowledge - deployment of a <a href="https://httpd.apache.org/" target="_blank" title="Discover HTTPd" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">HTTPd</a> server with client authentication</li>
                </ul>
              </div>
            </div>
            <div class="flex flex-col items-center w-3/6 mb-8 sm:mb-0 sm:w-2/6 lg:w-2/6 xl:w-1/6 z-15">
              <img src="<%=require('./assets/img/sesan.png')%>" alt="SESAN logo" />
              <a href="https://www.sesan.fr" target="_blank" class="pointer-events-auto mt-8 p-action-click font-black text-center rounded-full uppercase text-tiny md:text-sm bg-black bg-opacity-30 hover:bg-opacity-60 py-4 px-10 transition duration-200 ease-in-out tracking-tight text-white">Visit client website</a>
            </div>

            <div class="items-banner absolute w-full top-1/4 sm:top-auto sm:bottom-2xl flex font-serif text-lg md:text-xl text-background bg-dark z-10 whitespace-no-wrap py-8 overflow-hidden">
              <div class="wrapper inline-flex flex-shrink-0 items-center justify-between">
                <span><a href="https://www.java.com/fr/" target="_blank" class="techlink p-action-click">Java</a></span>
                <span><a href="https://www.jahia.com/" target="_blank" class="techlink p-action-click">Jahia</a></span>
                <span><a href="https://spring.io/" target="_blank" class="techlink p-action-click">Spring</a></span>
                <span><a href="https://jackrabbit.apache.org/jcr/index.html" target="_blank" class="techlink p-action-click">JackRabbit</a></span>
                <span><a href="https://lucene.apache.org/" target="_blank" class="techlink p-action-click">Lucene</a></span>
                <span><a href="https://maven.apache.org/" target="_blank" class="techlink p-action-click">Maven</a></span>
                <span><a href="https://httpd.apache.org/" target="_blank" class="techlink p-action-click">HTTPd</a></span>
                <span><a href="https://subversion.apache.org/" target="_blank" class="techlink p-action-click">SVN</a></span>
                <span><a href="https://jquery.com/" target="_blank" class="techlink p-action-click">jQuery</a></span>
                <span><a href="https://getbootstrap.com/" target="_blank" class="techlink p-action-click">Bootstrap</a></span>
                <span><a href="https://www.jetbrains.com/idea/" target="_blank" class="techlink p-action-click">IntelliJ</a></span>
              </div>
              <div class="wrapper inline-flex flex-shrink-0 items-center justify-between" aria-hidden="true">
                <span><a href="https://www.java.com/fr/" target="_blank" class="techlink p-action-click">Java</a></span>
                <span><a href="https://www.jahia.com/" target="_blank" class="techlink p-action-click">Jahia</a></span>
                <span><a href="https://spring.io/" target="_blank" class="techlink p-action-click">Spring</a></span>
                <span><a href="https://jackrabbit.apache.org/jcr/index.html" target="_blank" class="techlink p-action-click">JackRabbit</a></span>
                <span><a href="https://lucene.apache.org/" target="_blank" class="techlink p-action-click">Lucene</a></span>
                <span><a href="https://maven.apache.org/" target="_blank" class="techlink p-action-click">Maven</a></span>
                <span><a href="https://httpd.apache.org/" target="_blank" class="techlink p-action-click">HTTPd</a></span>
                <span><a href="https://subversion.apache.org/" target="_blank" class="techlink p-action-click">SVN</a></span>
                <span><a href="https://jquery.com/" target="_blank" class="techlink p-action-click">jQuery</a></span>
                <span><a href="https://getbootstrap.com/" target="_blank" class="techlink p-action-click">Bootstrap</a></span>
                <span><a href="https://www.jetbrains.com/idea/" target="_blank" class="techlink p-action-click">IntelliJ</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-id="cd57" aria-hidden="true" class="discover-wrapper absolute w-full min-h-full left-0 top-0 pb-12 z-15" style="visibility: hidden; opacity: 0">
        <div class="relative overflow-hidden">
          <div class="container flex flex-col items-center justify-items-center px-12 pt-48 pb-12">
            <a href="#" class="flex items-center discover-close-action p-action-click p-6 z-15 opacity-80 hover:opacity-100 duration-200 transition-opacity">
              <svg xmlns="http://www.w3.org/2000/svg" width="18.375" height="18.163" viewBox="0 0 18.375 18.163">
                <path d="M9.43 18.018l.812-.812a.492.492 0 000-.7l-6.363-6.359h14a.492.492 0 00.492-.492V8.507a.492.492 0 00-.492-.492h-14l6.363-6.359a.492.492 0 000-.7L9.43.144a.492.492 0 00-.7 0L.144 8.733a.492.492 0 000 .7l8.589 8.585a.492.492 0 00.697 0z" fill="#fff" />
              </svg>
              <span class="ml-8 text-white text-base">back to projects</span>
            </a>
            <h2 class="text-center text-lg sm:text-xl md:text-2xl font-serif text-white pt-6 w-11/12 md:w-full leading-none z-15">The Departmental Council of Moselle</h2>
            <p class="text-center text-md md:text-lg font-serif text-primary py-2 w-11/12 md:w-full leading-none z-15">2018 - current</p>
            <p class="sm:text-center text-base sm:text-md md:text-md text-white w-11/12 md:w-9/12 py-12 z-15">Integrating a development team as an external service agent to conceive, maintain and migrate internal web applications using <a href="https://www.jalios.com/jcms/" target="_blank" title="Discover Jalios" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Jalios</a> (Java CMS) for the French department of Moselle.</p>
            <div class="container flex flex-col sm:flex-row justify-center items-center mb-12 w-11/12 md:w-10/12 z-15">
              <div class="sm:w-11/12 sm:text-center">
                <ul class="text-white sm:text-center text-base mt-12 mb-12 list-disc pl-8 sm:list-none sm:pl-0">
                  <li class="sm:inline-block">Passing a Java 8 Certification</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Design and development overhaul of the internal department portal using <a href="https://www.adobe.com/products/xd.html" target="_blank" title="Discover Adobe XD" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Adobe XD</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Migration of web application from aging technologies into their CMS</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Notable web file system communication experiment with <a href="https://www.electronjs.org/" target="_blank" title="Discover ElectronJS" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">ElectronJS</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Writing functional, technical and test cases documentations</li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Code versioning using <a href="https://about.gitlab.com/" target="_blank" title="Discover GitLab" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">GitLab</a></li>
                  <li aria-hidden="true" class="separator hidden sm:inline-block bg-white mb-1 w-2 h-2 mx-3 rounded-full"></li>
                  <li class="sm:inline-block">Installation and maintenance of <a href="https://www.jalios.com/jcms/j_6/en/home" target="_blank" title="Discover Jalios" class="p-action-click text-primary font-serif hover:text-primary-light transition duration-200">Jalios</a> clustered environments</li>
                </ul>
              </div>
            </div>
            <div class="flex flex-col items-center w-3/6 mb-8 sm:mb-0 sm:w-2/6 lg:w-2/6 xl:w-1/6 z-15">
              <img src="<%=require('./assets/img/moselle.png')%>" alt="Moselle French department logo" />
              <a href="https://www.moselle.fr" target="_blank" class="pointer-events-auto mt-8 p-action-click font-black text-center rounded-full uppercase text-tiny md:text-sm bg-black bg-opacity-30 hover:bg-opacity-60 py-4 px-10 transition duration-200 ease-in-out tracking-tight text-white">Visit client website</a>
            </div>

            <div class="items-banner absolute w-full top-1/4 sm:top-auto sm:bottom-2xl flex font-serif text-lg md:text-xl text-background bg-dark z-10 whitespace-no-wrap py-8 overflow-hidden">
              <div class="wrapper inline-flex flex-shrink-0 items-center justify-between">
                <span><a href="https://www.java.com/fr/" target="_blank" class="techlink p-action-click">Java</a></span>
                <span><a href="https://www.jalios.com/jcms/" target="_blank" class="techlink p-action-click">Jalios</a></span>
                <span><a href="https://maven.apache.org/" target="_blank" class="techlink p-action-click">Maven</a></span>
                <span><a href="https://www.electronjs.org/" target="_blank" class="techlink p-action-click">Electron</a></span>
                <span><a href="https://git-scm.com/" target="_blank" class="techlink p-action-click">GIT</a></span>
                <span><a href="https://jquery.com/" target="_blank" class="techlink p-action-click">jQuery</a></span>
                <span><a href="https://getbootstrap.com/" target="_blank" class="techlink p-action-click">Bootstrap</a></span>
                <span><a href="https://www.jenkins.io/" target="_blank" class="techlink p-action-click">Jenkins</a></span>
                <span><a href="https://www.eclipse.org/" target="_blank" class="techlink p-action-click">Eclipse</a></span>
                <span><a href="https://www.adobe.com/products/xd.html" target="_blank" class="techlink p-action-click">Adobe XD</a></span>
              </div>
              <div class="wrapper inline-flex flex-shrink-0 items-center justify-between" aria-hidden="true">
                <span><a href="https://www.java.com/fr/" target="_blank" class="techlink p-action-click">Java</a></span>
                <span><a href="https://www.jalios.com/jcms/" target="_blank" class="techlink p-action-click">Jalios</a></span>
                <span><a href="https://maven.apache.org/" target="_blank" class="techlink p-action-click">Maven</a></span>
                <span><a href="https://www.electronjs.org/" target="_blank" class="techlink p-action-click">Electron</a></span>
                <span><a href="https://git-scm.com/" target="_blank" class="techlink p-action-click">GIT</a></span>
                <span><a href="https://jquery.com/" target="_blank" class="techlink p-action-click">jQuery</a></span>
                <span><a href="https://getbootstrap.com/" target="_blank" class="techlink p-action-click">Bootstrap</a></span>
                <span><a href="https://www.jenkins.io/" target="_blank" class="techlink p-action-click">Jenkins</a></span>
                <span><a href="https://www.eclipse.org/" target="_blank" class="techlink p-action-click">Eclipse</a></span>
                <span><a href="https://www.adobe.com/products/xd.html" target="_blank" class="techlink p-action-click">Adobe XD</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <canvas id="ddo-model-canvas" aria-hidden="true" class="ddo-model-canvas z-20 pointer-events-none overflow-hidden" style="opacity: 0"></canvas>

    <div id="cursor-circle" aria-hidden="true" class="hidden sm:block sm:fixed h-20 w-20 top-0 left-0 pointer-events-none" style="opacity: 0">
      <svg width="50" height="50" viewbox="-1 -1 52 52">
        <circle cx="25" cy="25" r="25" stroke-wdith="2" stroke="#FFD984" fill="transparent"></circle>
      </svg>
    </div>
    <div id="cursor-pointer" aria-hidden="true" class="hidden sm:block sm:fixed h-20 w-20 top-0 left-0 pointer-events-none z-75" style="transform: translate(-200px, -200px)">
      <svg width="50" height="50" viewbox="-1 -1 52 52">
        <circle cx="25" cy="25" r="5" fill="#FFD984"></circle>
      </svg>
    </div>
  </body>
</html>
